Repository jrsteensen/OpenHornet, pull requests merged in 2019-12, with the labels that each got.

#127 Fixed Master Mode PCB (connected GND pins)
  ECAD/PCBs for Sim/Master Mode Pushbutton/MasterModePushbutton.kicad_pcb
  ECAD/PCBs for Sim/Master Mode Pushbutton/MasterModePushbutton.kicad_pcb-bak
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-B_Cu.gbr
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-B_Mask.gbr
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-B_SilkS.gbr
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-Edge_Cuts.gbr
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-F_Cu.gbr
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-F_Mask.gbr
  ECAD/PCBs for Sim/Master Mode Pushbutton/manufacturing/gerber/MasterModePushbutton-F_SilkS.gbr
Labels: Category: ECAD, Priority: High, Type: Bug

#125 fixed absis MEGA and NANO mosfet
  ECAD/ABSIS/MEGA IO/MEGA IO-cache.lib
  ECAD/ABSIS/MEGA IO/MEGA IO.kicad_pcb
  ECAD/ABSIS/MEGA IO/MEGA IO.net
  ECAD/ABSIS/MEGA IO/MEGA IO.pro
  ECAD/ABSIS/MEGA IO/MEGA IO.sch
  ECAD/ABSIS/MEGA IO/fp-lib-table
  ECAD/ABSIS/MEGA IO/manufacturing/MEGA IO-BOM.csv
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-B_Cu.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-B_Mask.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-B_Paste.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-B_SilkS.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-Edge_Cuts.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-F_Cu.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-F_Mask.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-F_Paste.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-F_SilkS.gbr
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-NPTH.drl
  ECAD/ABSIS/MEGA IO/manufacturing/gerber/MEGA IO-PTH.drl
  ECAD/ABSIS/MEGA IO/sym-lib-table
  ECAD/ABSIS/NANO IO/NANO IO-cache.lib
  ECAD/ABSIS/NANO IO/NANO IO.kicad_pcb
  ECAD/ABSIS/NANO IO/NANO IO.net
  ECAD/ABSIS/NANO IO/NANO IO.pro
  ECAD/ABSIS/NANO IO/NANO IO.sch
  ECAD/ABSIS/NANO IO/NANO IO.xml
  ECAD/ABSIS/NANO IO/manufacturing/NANO IO-BOM.csv
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-B_Cu.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-B_Mask.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-B_Paste.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-B_SilkS.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-Edge_Cuts.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-F_Cu.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-F_Mask.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-F_Paste.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-F_SilkS.gbr
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-NPTH.drl
  ECAD/ABSIS/NANO IO/manufacturing/gerber/NANO IO-PTH.drl
  ECAD/ABSIS/NANO IO/sym-lib-table
Labels: Category: ECAD, Type: Bug

#141 Ecad jett select pcb
  ECAD/PCBs/Specialty/JETT_SELECT_Panel/JETT_SELECT_Panel-cache.lib
  ECAD/PCBs/Specialty/JETT_SELECT_Panel/JETT_SELECT_Panel.kicad_pcb
  ECAD/PCBs/Specialty/JETT_SELECT_Panel/JETT_SELECT_Panel.net
  ECAD/PCBs/Specialty/JETT_SELECT_Panel/JETT_SELECT_Panel.pro
  ECAD/PCBs/Specialty/JETT_SELECT_Panel/JETT_SELECT_Panel.sch
  ECAD/PCBs/Specialty/JETT_SELECT_Panel/fp-lib-table
Labels: Category: ECAD, Status: Review Needed

#151 STLs Files for UIP Release Package
  release/2_Upper Instrument Panel/OH1A -107 - UPPER UIP FACE MOUNT, LEFT.stl
  release/2_Upper Instrument Panel/OH1A -108 UPPER UIP FACE MOUNT, RIGHT.stl
  release/2_Upper Instrument Panel/OH1A -109 UIP DISPLAY PRESSURE FOOT.stl
  release/2_Upper Instrument Panel/OH1A -110 MFD LOWER SUPPORT A, LEFT.stl
  release/2_Upper Instrument Panel/OH1A -111 MFD LOWER SUPPORT B.stl
  release/2_Upper Instrument Panel/OH1A -112 MFD LOWER SUPPORT C.stl
  release/2_Upper Instrument Panel/OH1A -113 HUD PANEL AFT SUPPORT.stl
  release/2_Upper Instrument Panel/OH1A -114 HUD PANEL CONNECTION BRACKET.stl
  release/2_Upper Instrument Panel/OH1A -115 UIP CENTRAL TIE BRACKET.stl
  release/2_Upper Instrument Panel/OH1A -116 MFD LOWER SUPPORT A, RIGHT.stl
Labels: Category: MCAD, Priority: High, Type: Enhancement
