Repository jrsteensen/OpenHornet, pull requests merged in 2024-03, with the labels that each got.

#1033 HUD & HUD VID RECORD edge cuts update
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/HUD PANEL.kicad_pcb
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/HUD PANEL.kicad_prl
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-CuBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-CuTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-EdgeCuts.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-MaskBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-MaskTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-NPTH-drl_map.pdf
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-NPTH.drl
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-PTH-drl_map.pdf
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-PTH.drl
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-PasteBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-PasteTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-SilkBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-SilkTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/gerber/HUD PANEL-VScore.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD PANEL/JLCPCB/production_files/GERBER-HUD PANEL.zip
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/HUD VID RCD PANEL.kicad_pcb
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-CuBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-CuTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-EdgeCuts.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-MaskBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-MaskTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-NPTH-drl_map.pdf
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-NPTH.drl
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-PTH-drl_map.pdf
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-PTH.drl
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-PasteBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-PasteTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-SilkBottom.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-SilkTop.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/gerber/HUD VID RCD PANEL-VScore.gbr
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/production_files/BOM-HUD VID RCD PANEL.csv
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/production_files/CPL-HUD VID RCD PANEL.csv
  ECAD/PCBs/Backlight PCBs/Backlighting_Type A/HUD VID RCD PANEL/JLCPCB/production_files/GERBER-HUD VID RCD PANEL.zip
  release/OHE_Electronics/OH1A7-101 - PCB, HUD PANEL/GERBER-HUD PANEL.zip
  release/OHE_Electronics/OH2A2A1A3-13 - PCB, HUD VIDEO RECORD PANEL/GERBER-HUD VID RCD PANEL.zip
Labels: Type: Bug/Obsolesce, Category: ECAD, Priority: Normal

#1041 Symbol and Footprint for Update UFC Option Displays
  ECAD/lib/OH_Footprints.pretty/UFCOptionDigit_V2.kicad_mod
  ECAD/lib/OH_Symbols/KiCadCustomLib.kicad_sym
Labels: Type: Enhancement, Category: ECAD, Priority: Normal

#1042 Rename of Symbol and Footprint for the UFC Option Display
  ECAD/lib/OH_Footprints.pretty/UFCOptionDigitV3.kicad_mod
  ECAD/lib/OH_Symbols/KiCadCustomLib.kicad_sym
Labels: Type: Enhancement, Category: ECAD
